<div class="col">
    <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-chat-dots"></i></div>
    <div class="h5 mb-2">Chat with us</div>
    <p class="text-muted mb-0">Chat live with one of our support specialists.</p>
</div>