<div class="col mb-5 h-100">
    <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-collection"></i></div>
    <h2 class="h5">Featured title</h2>
    <p class="mb-0">Paragraph of text beneath the heading to explain the heading. Here is just a bit more text.</p>
</div>