<div class="col mb-5 mb-5 mb-xl-0">
    <div class="text-center">
        <img class="img-fluid rounded-circle mb-4 px-4" src="https://dummyimage.com/150x150/ced4da/6c757d" alt="..." />
        <h5 class="fw-bolder">Ibbie Eckart</h5>
        <div class="fst-italic text-muted">Founder &amp; CEO</div>
    </div>
</div>